ROBOFOX_GTM_ENGINE=~/projects/robofox-gtm-autopilot
ROBOFOX_GTM_WORKSPACE=~/private/robofox-gtm-workspace
ROBOFOX_GTM_MODE=advisory
ROBOFOX_GTM_AUTONOMY=L1
ROBOFOX_GTM_KILL_SWITCH=1
ROBOFOX_GTM_TIMEZONE=Asia/Kolkata
